*{
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    min-height: 100vh;
}
.logo{
    font-size: 25px;
    font-weight: bolder;
    color: green;
    margin-top: -10px;
}
header{
    position: fixed;
    height: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    padding: 25px;
    z-index: 999;
}
ul li{
    list-style: none;
    display: inline-block;
    margin: -10px 20px 0 10px ;
    padding: 8px 15px;
}
li:hover{
    color: white;
    background-color: green;
    border-radius: 5px;
    cursor: pointer;
}
.sec1{
    background-image: linear-gradient(rgb(157, 235, 157) ,white );
    height: 80vh;
}
.sec2{
    height: 80vh;
}
.h1{
    position: absolute;
    top: 15%;
    left: 46%;
    font-weight: lighter;
    font-size: x-large;
}
.sec1 span{
    position: absolute;
    top: 23%;
    left: 43%;
}
.block{
    position: absolute;
    top: 30%;
    left: 25%;
}
.img{
    width: 30%;
}
.block-2{
    font-size: larger;
    width: 30em;
    position: absolute;
    top: 30%;
    left: 42%;
}
.block-2 p{
    font-weight: 500;
}
.btn-r{
    padding: 5px 50px;
    color: white;
    background-color: rgb(49, 215, 49);
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
    border: 1px solid;
}
.btn-r:hover{
    background-color: rgb(0, 128, 0,.6);
}
.sec2 h1{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-size: 40px;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    width: 325PX;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 4px 4px 4px  rgba(0,0,0,0.5);
    margin: 20px;
}
.card img{
    width: 100%;
    height: auto;
}
.cont1{
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cont1 h3{
    font-size: 28px;
    margin-bottom: 8px;
}
.cont1 p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}
.cont1 .btn-c{
    display: inline-block;
    padding: 8px 60px;
    background-color: rgb(96, 241, 96);
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: white;
}
.card:hover{
    transform: translateY(-20px);
}
.cont1 .btn-c:hover{
    background-color: rgb(6, 199, 6);
}
.base{
    margin-top: 40px;
    background-color: rgb(52, 50, 50);
    height: 7vh;
}
.base p{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}